.about {
	display: grid;
	gap: var(--page-padding);
	min-height: calc(100vh - var(--page-padding) * 2);
	max-width: 800px;
	margin: 0 auto;
	padding: var(--page-padding) calc(var(--page-padding) * 2) var(--page-padding)
		var(--page-padding);

	@media only screen and (min-width: 992px) {
		grid-template-columns: repeat(2, 1fr);
	}

	.aboutImage {
		display: flex;
		align-items: center;
	}

	.aboutText {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.aboutTitle {
		text-transform: uppercase;
		margin-bottom: 1rem;
		font-weight: 300;
		letter-spacing: 0.5px;
		font-size: 0.75rem;
	}
}
