.cursor {
	.span {
		pointer-events: none;
		position: absolute;
		z-index: 999;

		&.sm {
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;

			.svg {
				display: none;
				height: 14px;
				fill: var(--green);

				&#minus {
					height: initial;
					width: 14px;
				}
			}
		}

		&.lg {
			width: 50px;
			height: 50px;
			border: 1px solid var(--green);
			border-radius: 50%;
			pointer-events: none;
			opacity: 0.25;
		}
	}
}
